body{
    background-image: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/341080/910/606/m2/fpnw/wm1/zxhv6io2fgmn6civz6hvtdekf8kehazzyuxleapmjgwnu9rwlmxykpyd4hukadfe-.jpg?1423159322&s=352455e2e986f115ae367179923a73d4");
}

.alien{
    width: 135px;
    height: 100px;
    margin: 50px; 
}

#spaceship{
    height: 80px;
    width: 80px;
    position: absolute;
    position:fixed;
    
    top:600px;
    left:580px;
    z-index: 1;
}

.laser{
    position: absolute;
    height: 30px;
    width: 5px;
    background-color: palegoldenrod;
    margin: 2px;
    top: 0px;
    left: 0px;
}

.explosion{
    position: absolute;
    height: 130px;
    width: 130px;
    display: none;
    top: 0;
    left: 0;
}

#win{
    position: absolute;
    height: 500px;
    width: 700px;
    display: none;
    top: 20%;
    left: 20%;
    z-index: -1;
}

#a1{
    position: absolute;
    left: 20px;
    top: 20px;
}
#a2{
    position: absolute;
    left: 180px;
    top: 20px;
}
#a3{
    position: absolute;
    left: 340px;
    top: 20px;
}
#a4{
    position: absolute;
    left: 500px;
    top: 20px;
}
#a5{
    position: absolute;
    left: 660px;
    top: 20px;
}
#a6{
    position: absolute;
    left: 20px;
    top: 150px;
}
#a7{
    position: absolute;
    left: 180px;
    top: 150px;
}
#a8{
    position: absolute;
    left: 340px;
    top: 150px;
}
#a9{
    position: absolute;
    left: 500px;
    top: 150px;
}
#a10{
    position: absolute;
    left: 660px;
    top: 150px;
}
